h1{
    font-size: 30px;
    color:brown;
    font-style: oblique;
}

body{
    background-color: rgb(93, 151, 193);
}

p{
    font-size: 20px;
    color: rgb(203, 34, 34);
    font-style: oblique;
}