body {
    background-image: url("PHOTOS/BackGround 1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
h1 {
    color: rgb(60, 179, 113);
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 100px;
}
.header {
    overflow: hidden;
    background-color: rgb(33, 117, 7);
}
.header img {
    height: 50px;
    width: 50px;
}
.testimonial-box {
    width: 80%; 
    max-width: 600px; 
    background-color: rgba(255, 255, 255, 0.8);
    border: 2px solid rgb(60, 179, 113);
    border-radius: 5px;
    padding: 30px; 
    margin: 20px auto; 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.testimonial-image {
    display: block; 
    margin: 0 auto; 
    border-radius: 50px; 
    width: 100px; 
    height: auto; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
}


.testimonial-box h2 {
    color: rgb(60, 179, 113);
    font-size: 24px;
}
.testimonial-box p {
    color: #333;
    font-size: 18px;
}
.header a {
    float: left;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.header a.logo {
    font-size: 25px;
    font-weight: bold;
}
.header a:hover {
    background-color: rgb(88, 3, 3);
    color: White;
}
.header a.active {
    background-color: rgb(54, 54, 1);
    color: white;
}
.header-Right {
    float: right;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(153, 245, 125);
    color: rgb(13, 151, 75);
    text-align: center;
}